---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: acm-aws-creds
  namespace: 'helms-deep-satellite-clusters'
stringData:
  aws_access_key_id: {{ acm_provider_aws_secret_key | b64encode }}
  aws_secret_access_key: {{ acm_provider_aws_access_key | b64encode }}
