---
apiVersion: v1
kind: Secret
metadata:
  name: helms-deep-pull-secret
  namespace: 'helms-deep-satellite-clusters'
stringData:
  .dockerconfigjson: |-
    {{ acm_provider_pull_secret | b64encode }}
type: kubernetes.io/dockerconfigjson
