---
apiVersion: v1
kind: Secret
metadata:
  name: core-user-ssh-private-key
  namespace: 'helms-deep-satellite-clusters'
stringData:
  ssh-privatekey: |-
    {{ ssh_private_key | b64encode }}
  ssh-publickey: |-
    {{ ssh_public_key | b64encode }}
type: Opaque
