---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: "{{ name }}"
  namespace: helms-deep-elk
spec:
  to:
    kind: Service
    name: "{{ service }}"
    weight: 100
  port:
    targetPort: https
  tls:
    termination: passthrough
    insecureEdgeTerminationPolicy: None
  wildcardPolicy: None
