apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: {{ api_url }}
  name: supervisor
contexts:
- context:
    cluster: supervisor
    user: {{ api_username }}
  name: supervisor
current-context: supervisor
kind: Config
preferences: {}
users:
- name: {{ api_username }}
  user:
    token: "{{ api_token }}"
