Hello,

Deployment of this new SOC has been approved.

This will take some time (30 minutes to an hour), so please be patient.

A follow-up comment will be made when the SOC deployment is complete.

Thanks.
