---
apiVersion: redhatcop.redhat.io/v1alpha1
kind: GroupSync
metadata:
  name: keycloak-groupsync
  namespace: helms-deep
spec:
  # sync every 15 minutes
  schedule: '0/15 * * * *'
  providers:
    - keycloak:
        credentialsSecret:
          name: helms-deep-group-sync-credentials
          namespace: helms-deep
        loginRealm: helms-deep
        realm: helms-deep
        scope: sub
        url: "{{ keycloak_url }}"
        groups: {{ sync_groups | default([]) | to_yaml }}
      name: keycloak
